<div class="side-bar-container">
  <div class="sidebar-icon group">
    <fa-icon [icon]="userIcon"></fa-icon>
    <span class="sidebar-tooltip group-hover:scale-100">
      {{userStateService.getCurrentUser()()?.username}}
    </span>
  </div>
  <div class="sidebar-icon group">
    <fa-icon [icon]="addUserIcon"></fa-icon>
    <span class="sidebar-tooltip group-hover:scale-100">
      Add friend
    </span>
  </div>
  <div class="sidebar-icon group" (click)="onChannelCreate.emit()">
    <fa-icon [icon]="plusIcon"></fa-icon>
    <span class="sidebar-tooltip group-hover:scale-100">
      Create channel
    </span>
  </div>
  <div class="sidebar-icon group" (click)="logoutClick()">
    <fa-icon [icon]="logoutIcon"></fa-icon>
    <span class="sidebar-tooltip group-hover:scale-100">
      Logout
    </span>
  </div>
</div>