@if(selectedChannel) {
  <div class="content-container">
    <div class="header">
      <h3 class="header-title">{{selectedChannel.name}}</h3>
      @if (selectedChannel.type === 1) {
        @if(isCurrentUserAdmin()) {
          <fa-icon [icon]="addUserIcon" class="header-icon" (click)="toggleAddUser()"></fa-icon>
          <fa-icon [icon]="usersIcon" class="header-icon" (click)="toggleUsersList()"></fa-icon>
          <fa-icon [icon]="editIcon" class="header-icon" (click)="toggleRenameForm()"></fa-icon>
        }
        @if(currentUser && selectedChannel.owner.id === currentUser.id) {
          <fa-icon [icon]="adminIcon" class="header-icon" (click)="toggleAddAdmin()"></fa-icon>
          <fa-icon [icon]="userMinusIcon" class="header-icon" (click)="toggleAdminList()"></fa-icon>
          <fa-icon [icon]="deleteIcon" class="header-icon hover:text-red-700" (click)="toggleDelete()"></fa-icon>
        }
      }
    </div>
    <!-- Add user dropdown  -->
    <div [class.hidden]="!dropdownState['isAddUserVisible']" class="header-dropdown right-36">
      <div class="px-4 pt-4">
        <h4 class="header-dropdown-title">Add user to channel</h4>
      </div>
      <div class="p-3">
        <input type="text" id="input-group-search" class="header-dropdown-input" placeholder="Search user" [(ngModel)]="userSearch">
      </div>
      <ul class="user-dropdown-list">
        @for (user of possibleUsers | userFilter: userSearch; track user) {
          <li>
            <div class="user-dropdown-list-item" (click)="handleAddUser(user)">
              <p class="user-dropdown-list-item-text">{{user.username}}</p>
            </div>
          </li>
        }
      </ul>
    </div>
    <!-- Remove user dropown -->
    <div [class.hidden]="!dropdownState['isUserListVisible']" class="header-dropdown right-20">
      <div class="px-4 pt-4">
        <h4 class="header-dropdown-title">Channel Members</h4>
      </div>
      <div class="p-3">
        <input type="text" id="input-group-search" class="header-dropdown-input" placeholder="Search user" [(ngModel)]="userSearch">
      </div>
      <ul class="user-dropdown-list">
        @for (user of channelMembers | userFilter: userSearch; track user) {
          <li>
            <div class="user-dropdown-list-item" (click)="handleRemoveUser(user)">
              <p class="user-dropdown-list-item-text hover:text-red-700">{{user.username}}</p>
            </div>
          </li>
        }
      </ul>
    </div>
    <!-- Add admin dropdown -->
    <div [class.hidden]="!dropdownState['isAddAdminVisible']" class="header-dropdown right-36">
      <div class="px-4 pt-4">
        <h4 class="header-dropdown-title">Make an Admin</h4>
      </div>
      <div class="p-3">
        <input type="text" id="input-group-search" class="header-dropdown-input" placeholder="Search user" [(ngModel)]="userSearch">
      </div>
      <ul class="user-dropdown-list">
        @for (user of channelMembers | userFilter: userSearch; track user) {
          <li>
            <div class="user-dropdown-list-item" (click)="handleAdminAdd(user)">
              <p class="user-dropdown-list-item-text">{{user.username}}</p>
            </div>
          </li>
        }
      </ul>
    </div>
    <!-- Remove admin dropdown -->
    <div [class.hidden]="!dropdownState['isAdminListVisible']" class="header-dropdown right-20">
      <div class="px-4 pt-4">
        <h4 class="header-dropdown-title">Remove Admin</h4>
      </div>
      <div class="p-3">
        <input type="text" id="input-group-search" class="header-dropdown-input" placeholder="Search user" [(ngModel)]="userSearch">
      </div>
      <ul class="user-dropdown-list">
        @for (user of channelAdmins | userFilter: userSearch; track user) {
          <li>
            <div class="user-dropdown-list-item" (click)="handleRemoveAdmin(user)">
              <p class="user-dropdown-list-item-text">{{user.username}}</p>
            </div>
          </li>
        }
      </ul>
    </div>
    <!-- Rename dropdown -->
    <div [class.hidden]="!dropdownState['isRenameVisible']" class="header-dropdown right-4">
      <div class="px-4 pt-4">
        <h4 class="header-dropdown-title">Rename channel</h4>
      </div>
      <div class="p-3">
        <input type="text" id="input-group-search" class="header-dropdown-input" placeholder="Rename channel" [(ngModel)]="newName">
      </div>
      <div class="p-3">
        <button type="submit" class="modal-form-button" (click)="handleChannelRename()">Rename</button>
      </div>
      
    </div>
    <!-- Delete dropdown -->
    <div [class.hidden]="!dropdownState['isDeleteVisible']" class="header-dropdown right-0">
      <div class="px-4 pt-4">
        <h4 class="header-dropdown-title">Delete channel</h4>
      </div>
      <div class="p-3">
        <button type="submit" class="modal-form-button bg-red-700 hover:bg-red-800" (click)="handleChannelDelete()">Delete channel</button>
      </div>
      
    </div>
    <div class="content-list">
      @for (message of channelMessages; track message) {
        <div class="post">
          <div class="post-content">
            <p class="post-owner">
              {{message.sender}}
              <small>{{message.timestamp}}</small>
            </p>
            <p class="post-text">{{message.content}}</p>
          </div>
        </div>
      }
    </div>
    <div class="message-input-element">
      <input type="text" placeholder="Enter message..." class="message-input" [(ngModel)]="currentMessage" (keyup.enter)="handleMessageSubmit()"/>
    </div>
  </div>
} @else {
  <div class="chat-missing-message-container">
    <h1 class="chat-missing-message-text">No channel selected</h1>
  </div>
}