<section class="bg-gray-50">
    <div class="login-container">
        <div class="login-element">
            <div class="login-header">
                <h1 class="login-header-text">
                    Sign in to your account
                </h1>
                <form class="login-form" (submit)="onSubmit()">
                    @if(this.loginFailed) {
                        <div class="login-error-message">
                            <p>Login failed</p>
                        </div>
                    }
                    @if(email.hasError('required') && (email.dirty || email.touched)) {
                        <div class="login-error-message">
                            <p>Email is requried</p>
                        </div>
                    }
                    <div>
                        <label for="email" class="login-form-label">Email</label>
                        <input type="email" name="email" class="login-form-input" placeholder="your@mail.com" required
                            [(ngModel)]="login.email" #email="ngModel">
                    </div>
                    @if(password.hasError('required') && (password.dirty || password.touched)) {
                        <div class="login-error-message">
                            <p>Password is requried</p>
                        </div>
                    }
                    <div>
                        <label for="password" class="login-form-label">Password</label>
                        <input type="password" name="password" class="login-form-input" placeholder="••••••••" required
                            [(ngModel)]="login.password" #password="ngModel">
                    </div>
                    <button type="submit" class="login-submit-button">Sign in</button>
                    <p class="text-sm font-light text-gray-500">
                        Don't have an account yet? 
                        <a href="/register" class="font-medium text-green-600 hover:underline">Sign up</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>