<section class="bg-gray-50">
  <div class="login-container">
      <div class="login-element">
          <div class="login-header">
              <h1 class="login-header-text">
                  Create an account
              </h1>
              <form class="login-form" action="#">
                  <div>
                      <label for="email" class="login-form-label">Your email</label>
                      <input type="email" name="email" id="email" class="login-form-input" placeholder="name@company.com" required="">
                  </div>
                  <div>
                      <label for="password" class="login-form-label">Password</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" class="login-form-input" required="">
                  </div>
                  <div>
                      <label for="confirm-password" class="login-form-label">Confirm password</label>
                      <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="login-form-input" required="">
                  </div>
                  <button type="submit" class="login-submit-button">Create an account</button>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                      Already have an account? <a href="#" class="font-medium text-green-600 hover:underline ">Login here</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>