<section class="bg-gray-50">
    <div class="login-container">
        <div class="login-element">
            <div class="login-header">
                <h1 class="login-header-text">
                    Create an account
                </h1>
                <form class="login-form" (ngSubmit)="onSubmit()">
                    @if(registerError) {
                        <div class="login-error-message">
                            <p>{{registerErrorMessage}}</p>
                        </div>
                    }
                    @if(email.invalid && (email.dirty || email.touched)) {
                        @if(email.hasError('required')) {
                            <div class="login-error-message">
                                <p>Email is requried</p>
                            </div>
                        }
                        @if(email.hasError('email')){
                            <div class="login-error-message">
                                <p>Email is not in a correct format</p>
                            </div>
                        }
                    }
                    <div>
                        <label for="email" class="login-form-label">Email</label>
                        <input type="email" name="email" id="email" [(ngModel)]="register.email"
                            class="login-form-input" placeholder="your@mail.com" required email #email="ngModel">
                    </div>
                    @if(username.invalid && (username.dirty || username.touched)) {
                        @if(username.hasError('required')) {
                            <div class="login-error-message">
                                <p>Username is requried</p>
                            </div>
                        }
                        @if(username.hasError('minlength') || username.hasError('maxlength')) {
                            <div class="login-error-message">
                                <p>Username must be between 4 and 15 characters long</p>
                            </div>
                        }
                    }
                    <div>
                        <label for="username" class="login-form-label">Username</label>
                        <input type="text" name="username" id="username" [(ngModel)]="register.username"
                            class="login-form-input" placeholder="Username" required minlength="4" maxlength="15"
                            #username="ngModel">
                    </div>
                    @if(passwordMatchError) {
                        <div class="login-error-message">
                            <p>Password confirmation doesn't match</p>
                        </div>
                    }
                    @if(password.hasError('required') && (password.dirty || password.touched)) {
                        <div class="login-error-message">
                            <p>Password is requried</p>
                        </div>
                    }
                    <div>
                        <label for="password" class="login-form-label">Password</label>
                        <input type="password" name="password" id="password" [(ngModel)]="register.password"
                            placeholder="••••••••" class="login-form-input" required #password="ngModel">
                    </div>
                    @if(passwordConfirm.hasError('required') && (passwordConfirm.dirty || passwordConfirm.touched)) {
                        <div class="login-error-message">
                            <p>Confirmation of password is requried</p>
                        </div>
                    }
                    <div>
                        <label for="confirm-password" class="login-form-label">Confirm password</label>
                        <input type="password" name="confirm-password" id="confirm-password"
                            [(ngModel)]="register.passwordConfirm" placeholder="••••••••" class="login-form-input"
                            required #passwordConfirm="ngModel">
                    </div>
                    <button type="submit" class="login-submit-button">Create an account</button>
                    <p class="text-sm font-light text-gray-500">
                        Already have an account? 
                        <a href="/login" class="font-medium text-green-600 hover:underline ">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>